/* 
    Created on : 10 Dec, 2016, 2:17:50 PM
    Author     : Manish Jangir
*/


.floating-label-form-group {
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
    position: relative;
    margin-top: 10px
    
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    background: none;
    border: none;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    box-shadow: none !important;
    position: relative;
    z-index: 1;
    font-size: 1em;
    resize: none;
}

.floating-label-form-group select {
    margin-top: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    font-size: 1em;
    box-shadow: none;
    margin-left: -4px;
    background: transparent;
}

.floating-label-form-group label {
    pointer-events: none;
    display: block;
    position: relative;
    top: 2em;
    opacity: 0;
    z-index: 0;
    font-size: 0.85em;
    line-height: 1em;
    vertical-align: baseline;
    margin: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    -moz-transition: top 0.3s ease, opacity 0.3s ease;
    -ms-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease;
}

.floating-label-form-group:not(:first-child) {
    border-left: 1px solid #ccc;
    padding-left: 14px;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #428bca;
}

