<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>snConfigFile</param-name>
        <!--        <param-value>c:/snConfig/snConfigServoCMP_DevDB.ini</param-value>-->
<!--        <param-value>c:/snConfig/snConfigServoCMPPRODHO.ini</param-value>-->
       <param-value>c:/snConfig/snConfigServoCMP_TestDB.ini</param-value>
    </context-param>
    <context-param>
        <param-name>snConfigFile-Linux</param-name>
        <param-value>/user1/snConfig/snConfigServoCMP_TestDB.ini</param-value>
    </context-param>
    <filter>
        <filter-name>LabFilter</filter-name>
        <filter-class>filters.LabFilter</filter-class>
    </filter>
    <filter>
        <filter-name>TseAdminFilter</filter-name>
        <filter-class>filters.TseAdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>TseFilter</filter-name>
        <filter-class>filters.TseFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LabAdminFilter</filter-name>
        <filter-class>filters.LabAdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ISAdminFilter</filter-name>
        <filter-class>filters.ISAdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ISAdminFilter</filter-name>
        <url-pattern>/ISAdmin/*</url-pattern>
    </filter-mapping>
<!--    <filter-mapping>
        <filter-name>CAS Authentication Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CAS Validation Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <filter-mapping>
        <filter-name>TseAdminFilter</filter-name>
        <url-pattern>/TseAdmin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LabAdminFilter</filter-name>
        <url-pattern>/LabAdmin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TseFilter</filter-name>
        <url-pattern>/Tse/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LabFilter</filter-name>
        <url-pattern>/Lab/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>Listens and retrieves Configuration File Name</description>
        <listener-class>config.snConfigFile</listener-class>
    </listener>
<!--    <filter>
        <filter-name>CAS Authentication Filter</filter-name>
        <filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
        <init-param>
            <param-name>casServerLoginUrl</param-name>
            <param-value>http://webapp.indianoil.co.in/JaanasiMaamVaa/login</param-value>
        </init-param>
        <init-param>
            <param-name>serverName</param-name>
            <param-value>http://10.147.66.62:8080</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>CAS Validation Filter</filter-name>
        <filter-class>org.jasig.cas.client.validation.Cas10TicketValidationFilter</filter-class>
        <init-param>
            <param-name>casServerUrlPrefix</param-name>
            <param-value>http://webapp.indianoil.co.in/JaanasiMaamVaa</param-value>
        </init-param>
        <init-param>
            <param-name>serverName</param-name>
            <param-value>http://10.147.66.62:8080</param-value>
        </init-param>
        <init-param>
            <param-name>redirectAfterValidation</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
    </filter>-->
    <context-param>
        <description>Server IP address</description>
        <param-name>server-IP</param-name>
        <param-value>http://localhost:8080</param-value>
    </context-param>
    <context-param>
        <description>Project Name</description>
        <param-name>projectName</param-name>
        <param-value>
            /ServoCMP
        </param-value>
    </context-param>
    <context-param>
        <description>Path for CEM database</description>
        <param-name>cemDBPath</param-name>
        <param-value>C:/snConfig/CemInfo.xml</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>ServoCMP</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>globals.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterSampleServlet</servlet-name>
        <servlet-class>Servlets.filterSampleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inprocessLabSamplesServlet</servlet-name>
        <servlet-class>Servlets.inprocessLabSamplesServlet</servlet-class>
    </servlet>
    <servlet>
        <description>will get all existing test of sample and all Test.</description>
        <servlet-name>GetTestSampleServlet</servlet-name>
        <servlet-class>Servlets.Lab.GetTestSampleServlet</servlet-class>
    </servlet>
    <servlet>
        <description>will get Deatail of created sample and also update the same.</description>
        <servlet-name>updateSampleServlet</servlet-name>
        <servlet-class>Servlets.Tse.updateSampleServlet</servlet-class>
    </servlet>
    <servlet>
        <description>will get and receive the sample send by TSE</description>
        <servlet-name>AcknowledgsSampleServlet</servlet-name>
        <servlet-class>Servlets.Lab.AcknowledgeSampleServlet</servlet-class>
    </servlet>
    <servlet>
        <description>will get list of all sample send by TSE</description>
        <servlet-name>sampleDetailsServlet</servlet-name>
        <servlet-class>Servlets.Lab.SampleSendByTSEServlet</servlet-class>
    </servlet>
    <servlet>
        <description>will get list of all received sample.</description>
        <servlet-name>GetReceivedSampleServlet</servlet-name>
        <servlet-class>Servlets.Lab.GetReceivedSampleServlet</servlet-class>
    </servlet>
    <servlet>
        <description>unknown</description>
        <servlet-name>getsamplesendtoTSEServlet</servlet-name>
        <servlet-class>Servlets.Lab.getsamplesendtoTSEServlet</servlet-class>
    </servlet>
    <servlet>
        <description>will send test result entered by LAB Person to TSE person</description>
        <servlet-name>SendTestResultToTSE</servlet-name>
        <servlet-class>Servlets.Lab.SendTestResultToTSE</servlet-class>
    </servlet>
    <servlet>
        <description>will get sample pending for testing and create sample for testing (BUT WILL NOT SEND THE SAMPLE TO LAB)</description>
        <servlet-name>GetSendSampleToLABServlet</servlet-name>
        <servlet-class>Servlets.Tse.GetSamplePendingAtTseServlet</servlet-class>
    </servlet>
    <servlet>
        <description>will get list of all pending Sample servlet which are pending to be send to lab for testing.</description>
        <servlet-name>GetAllPendingSamplesAtTSEServlet</servlet-name>
        <servlet-class>Servlets.Tse.GetAllPendingSamplesAtTSEServlet</servlet-class>
    </servlet>
    <servlet>
        <description>will send sample to maintenance mode</description>
        <servlet-name>SampleMaintenanceServlet</servlet-name>
        <servlet-class>Servlets.Tse.SampleMaintenanceServlet</servlet-class>
    </servlet>
    <servlet>
        <description>will get result of sample tested at lab for lab person</description>
        <servlet-name>GetSampleTestResultServlet</servlet-name>
        <servlet-class>Servlets.Lab.getSampleTestResultServlet</servlet-class>
    </servlet>
    <servlet>
        <description>will download file, which has been uploaded by lab</description>
        <servlet-name>DownloadLabUploadedFileServlet</servlet-name>
        <servlet-class>Servlets.DownloadUploadedFileServlet</servlet-class>
    </servlet>
    <servlet>
        <description>will get all details of a sample which has been postponed by TSE for testing</description>
        <servlet-name>GetPostponedDetailServlet</servlet-name>
        <servlet-class>Servlets.Tse.GetPostponedDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <description>will delete file Uploaded by lab </description>
        <servlet-name>DeleteFileUploadedByLABServlet</servlet-name>
        <servlet-class>Servlets.Lab.DeleteFileUploadedByLABServlet</servlet-class>
    </servlet>
    <servlet>
        <description>will get last 3 details of test result of a sample</description>
        <servlet-name>GetTestResultsDetails</servlet-name>
        <servlet-class>Servlets.Tse.GetTestResultsDetails1</servlet-class>
    </servlet>
    <servlet>
        <description>will get test values where the values are of type other</description>
        <servlet-name>GetOtherDropdown</servlet-name>
        <servlet-class>Servlets.Lab.GetOtherDropdownServlet</servlet-class>
    </servlet>
    <servlet>
        <description>unknown</description>
        <servlet-name>printBarCode</servlet-name>
        <servlet-class>Servlets.printBarCode</servlet-class>
    </servlet>
    <servlet>
        <description>will upload file which is uploaded by TSE</description>
        <servlet-name>TseFileUploadServlet</servlet-name>
        <servlet-class>Servlets.Tse.TseFileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Will Send the sample to customer</description>
        <servlet-name>SendToCustomerServlet</servlet-name>
        <servlet-class>Servlets.Tse.SendToCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <description>will get All Equipments</description>
        <servlet-name>GetmalfunctionEquipment</servlet-name>
        <servlet-class>Servlets.Lab.GetEquipmentsServlet</servlet-class>
    </servlet>
    <servlet>
        <description>will get Details of employess from CEM</description>
        <servlet-name>GetEmployeeDetails</servlet-name>
        <servlet-class>TseAdmin.GetEmployeeDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendUserAccessRelatedMail</servlet-name>
        <servlet-class>TseAdmin.sendUserAccessRelatedMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSendTseToLabSmplSumServlet</servlet-name>
        <servlet-class>Servlets.Tse.GetSendTseToLabSmplSumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DowalodIOMServlet</servlet-name>
        <servlet-class>Servlets.Tse.DownloadIOMServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetIOMSummaryDataServlet</servlet-name>
        <servlet-class>Servlets.Tse.GetIOMSummaryDataServlet</servlet-class>
    </servlet>
    <servlet>
        <description>will Add new Sample</description>
        <servlet-name>ManageSampleInfoServlet</servlet-name>
        <servlet-class>Servlets.Tse.ManageSampleInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>Exceptions.ErrorHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCreatedSampleServlet</servlet-name>
        <servlet-class>Servlets.Tse.GetCreatedSampleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDepartmentServlet</servlet-name>
        <servlet-class>Master.GetDepartmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAvailableTankServlet</servlet-name>
        <servlet-class>Master.GetAvailableTankServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSampleServlet</servlet-name>
        <servlet-class>Servlets.Tse.AddSampleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestDetailsServlet</servlet-name>
        <servlet-class>Servlets.TestDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageTankServlet</servlet-name>
        <servlet-class>Servlets.Tse.ManageTankServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MstEquipmentDAOServlet</servlet-name>
        <servlet-class>DAOServlets.MstEquipmentDAOServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MstTankDAOServlet</servlet-name>
        <servlet-class>DAOServlets.MstTankDAOServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MstMakeDAOServlet</servlet-name>
        <servlet-class>DAOServlets.MstMakeDAOServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MstDeptDAOServlet</servlet-name>
        <servlet-class>DAOServlets.MstDeptDAOServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MstCustSampleDAOServlet</servlet-name>
        <servlet-class>DAOServlets.MstCustSampleDAOServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageIndustryServlet</servlet-name>
        <servlet-class>TseAdmin.manageIndustryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageApplicationServlet</servlet-name>
        <servlet-class>TseAdmin.manageApplicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageUserServlet</servlet-name>
        <servlet-class>TseAdmin.manageTseUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCustomers</servlet-name>
        <servlet-class>Servlets.Tse.ManageCustomersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageDepartmentServlet</servlet-name>
        <servlet-class>Servlets.Tse.ManageDepartmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageProductServlet</servlet-name>
        <servlet-class>TseAdmin.manageProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageEquipmentServlet</servlet-name>
        <servlet-class>Servlets.Tse.ManageEquipmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageMakeServlet</servlet-name>
        <servlet-class>TseAdmin.manageMakeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetIOMSampleSummaryServlet</servlet-name>
        <servlet-class>Servlets.Tse.GetIOMSampleSummaryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageIOMServlet</servlet-name>
        <servlet-class>Servlets.Tse.ManageIOMServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestSpecServlet</servlet-name>
        <servlet-class>TseAdmin.TestSpecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MstLabEquipmentServlet</servlet-name>
        <servlet-class>Servlets.Lab.MstLabEquipmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageTestServlet</servlet-name>
        <servlet-class>TseAdmin.ManageTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestSequenceServlet</servlet-name>
        <servlet-class>TseAdmin.TestSequenceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TseAccessServlet</servlet-name>
        <servlet-class>TseAdmin.TseAccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TseCustomerServlet</servlet-name>
        <servlet-class>TseAdmin.TseCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LabTestSpecServlet</servlet-name>
        <servlet-class>LabAdmin.LabTestSpecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tse1TestSpecServlet</servlet-name>
        <servlet-class>Servlets.Tse.TseTestSpecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lab1TestSpecServlet</servlet-name>
        <servlet-class>Servlets.Lab.LabTestSpecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LabAccessServlet</servlet-name>
        <servlet-class>LabAdmin.LabAccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageLabUserServlet</servlet-name>
        <servlet-class>LabAdmin.manageLabUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageLabServlet</servlet-name>
        <servlet-class>LabAdmin.manageLabServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTseReports</servlet-name>
        <servlet-class>TseAdmin.GetTseReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getHighchartsData</servlet-name>
        <servlet-class>ajax.getHighchartsData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCustomers2</servlet-name>
        <servlet-class>ajax.addCustomers2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProducts2</servlet-name>
        <servlet-class>ajax.addProducts2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MappingCustSAP</servlet-name>
        <servlet-class>ajax.MappingCustSAP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEquipmentByLabServlet</servlet-name>
        <servlet-class>TseAdmin.GetEquipmentByLabServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEquipmentByLabServlet2</servlet-name>
        <servlet-class>LabAdmin.GetEquipmentByLabServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportLabEquipmentStatus</servlet-name>
        <servlet-class>TseAdmin.reportLabEquipmentStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportLabEquipmentStatus2</servlet-name>
        <servlet-class>LabAdmin.reportLabEquipmentStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtherValuesServletT</servlet-name>
        <servlet-class>TseAdmin.OtherValuesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtherValuesServletL</servlet-name>
        <servlet-class>LabAdmin.OtherValuesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newsServletLAB</servlet-name>
        <servlet-class>LabAdmin.newsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newsServletTSE</servlet-name>
        <servlet-class>TseAdmin.newsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSampleCreatedAjax</servlet-name>
        <servlet-class>ajax.getSampleCreatedAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getReceivedSampleAjax</servlet-name>
        <servlet-class>ajax.getReceivedSampleAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerSummary</servlet-name>
        <servlet-class>Servlets.Tse.CustomerSummary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileStorageServlet</servlet-name>
        <servlet-class>ReportsServlets.FileStorageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>initailizeByAdmin</servlet-name>
        <servlet-class>Servlets.initailizeByAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTestResultsDetail</servlet-name>
        <servlet-class>Servlets.Tse.GetTestResultsDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redirectController</servlet-name>
        <servlet-class>ajax.redirectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTseReportsDetails</servlet-name>
        <servlet-class>TseAdmin.GetTseReportsDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectSampleServlet</servlet-name>
        <servlet-class>Servlets.Lab.RejectSampleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LabTestStatusMasterServlet</servlet-name>
        <servlet-class>Servlets.Lab.LabTestStatusMasterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productCategoryMapping</servlet-name>
        <servlet-class>TseAdmin.productCategoryMapping</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LabTestSpecsServlet</servlet-name>
        <servlet-class>Servlets.Tse.LabTestSpecsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageEquipment</servlet-name>
        <servlet-class>TseAdmin.manageEquipmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TseLabMappingServlet</servlet-name>
        <servlet-class>TseAdmin.TseLabMappingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addCustomers2</servlet-name>
        <url-pattern>/addCustomers2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InitializeServlet</servlet-name>
        <servlet-class>Servlets.InitializeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitializeServlet</servlet-name>
        <url-pattern>/ServoCMP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterSampleServlet</servlet-name>
        <url-pattern>/filterSample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getsamplesendtoTSEServlet</servlet-name>
        <url-pattern>/getsamplesendtoTSEServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>printBarCode</servlet-name>
        <url-pattern>/printBarCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendUserAccessRelatedMail</servlet-name>
        <url-pattern>/sendUserAccessRelatedMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/ErrorHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTestSampleServlet</servlet-name>
        <url-pattern>/Lab/GetTestSample</url-pattern>
        <url-pattern>/Tse/GetTestSample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReceivedSampleServlet</servlet-name>
        <url-pattern>/Lab/GetReceivedSample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSampleTestResultServlet</servlet-name>
        <url-pattern>/Lab/getSampleTestResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFileUploadedByLABServlet</servlet-name>
        <url-pattern>/Lab/DeleteFileUploadedByLAB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetmalfunctionEquipment</servlet-name>
        <url-pattern>/Lab/GetEquipmentsForMalFunctioning</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendTestResultToTSE</servlet-name>
        <url-pattern>/Lab/SendTestResultToTSE</url-pattern>
        <url-pattern>/Tse/SendTestResultToTSE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sampleDetailsServlet</servlet-name>
        <url-pattern>/Lab/SampleSendByTSE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSendSampleToLABServlet</servlet-name>
        <url-pattern>/Tse/GetSamplePendingAtTSE</url-pattern>
        <url-pattern>/Tse/CreateSample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllPendingSamplesAtTSEServlet</servlet-name>
        <url-pattern>/Tse/GetAllPendingSamplesAtTSE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SampleMaintenanceServlet</servlet-name>
        <url-pattern>/Tse/SampleMaintenance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPostponedDetailServlet</servlet-name>
        <url-pattern>/Tse/GetPostponedDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTestResultsDetails</servlet-name>
        <url-pattern>/Tse/GetTestResultsDetails1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TseFileUploadServlet</servlet-name>
        <url-pattern>/Lab/FileUploadByTSE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendToCustomerServlet</servlet-name>
        <url-pattern>/Tse/SendToCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSendTseToLabSmplSumServlet</servlet-name>
        <url-pattern>/Tse/GetSendTseToLabSmplSum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DowalodIOMServlet</servlet-name>
        <url-pattern>/Tse/DownloadIOM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateSampleServlet</servlet-name>
        <url-pattern>/Tse/UpdateSample</url-pattern>
        <url-pattern>/Tse/GetUpdateSample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCreatedSampleServlet</servlet-name>
        <url-pattern>/Tse/GetCreatedSamples</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadLabUploadedFileServlet</servlet-name>
        <url-pattern>/DownloadUploadedFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOtherDropdown</servlet-name>
        <url-pattern>/Lab/GetOtherDropdown</url-pattern>
        <url-pattern>/Tse/GetOtherDropdown</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcknowledgsSampleServlet</servlet-name>
        <url-pattern>/Lab/AcknowledgeSample</url-pattern>
        <url-pattern>/Lab/GetAcknowledgeSample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDepartmentServlet</servlet-name>
        <url-pattern>/GetDepartments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSampleInfoServlet</servlet-name>
        <url-pattern>/Tse/ManageSample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAvailableTankServlet</servlet-name>
        <url-pattern>/GetAvailableTank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSampleServlet</servlet-name>
        <url-pattern>/Tse/AddSample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEmployeeDetails</servlet-name>
        <url-pattern>/Tse/GetEmployeeDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestDetailsServlet</servlet-name>
        <url-pattern>/TestDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MstMakeDAOServlet</servlet-name>
        <url-pattern>/UpdateMake</url-pattern>
        <url-pattern>/AddMake</url-pattern>
        <url-pattern>/GetMake</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MstDeptDAOServlet</servlet-name>
        <url-pattern>/AddDepartment</url-pattern>
        <url-pattern>/UpdateDepartment</url-pattern>
        <url-pattern>/GetDepartmentDetails</url-pattern>
        <url-pattern>/GetDepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageIndustryServlet</servlet-name>
        <url-pattern>/TseAdmin/UpdateIndustry</url-pattern>
        <url-pattern>/TseAdmin/manageIndustry</url-pattern>
        <url-pattern>/TseAdmin/ActivateIndustry</url-pattern>
        <url-pattern>/TseAdmin/AllDeactiveIndustry</url-pattern>
        <url-pattern>/TseAdmin/RemoveIndustry</url-pattern>
        <url-pattern>/TseAdmin/AllActiveIndustry</url-pattern>
        <url-pattern>/TseAdmin/AddIndustry</url-pattern>
        <url-pattern>/TseAdmin/IndustryDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageApplicationServlet</servlet-name>
        <url-pattern>/TseAdmin/AddApplication</url-pattern>
        <url-pattern>/manageApplicationServlet</url-pattern>
        <url-pattern>/TseAdmin/ActivateApplication</url-pattern>
        <url-pattern>/TseAdmin/AllDeactiveApplication</url-pattern>
        <url-pattern>/TseAdmin/AllActiveApplication</url-pattern>
        <url-pattern>/TseAdmin/RemoveApplication</url-pattern>
        <url-pattern>/TseAdmin/UpdateApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageUserServlet</servlet-name>
        <url-pattern>/GetRoleEmployee</url-pattern>
        <url-pattern>/GetEmployee</url-pattern>
        <url-pattern>/TseAdmin/AddUser</url-pattern>
        <url-pattern>/TseAdmin/RemoveUser</url-pattern>
        <url-pattern>/TseAdmin/ManageUser</url-pattern>
        <url-pattern>/TseAdmin/ChangeRole</url-pattern>
        <url-pattern>/TseAdmin/AllActiveUser</url-pattern>
        <url-pattern>/TseAdmin/AllDeactiveUser</url-pattern>
        <url-pattern>/TseAdmin/ActivateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MstTankDAOServlet</servlet-name>
        <url-pattern>/AddTank</url-pattern>
        <url-pattern>/UpdateTank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCustomers</servlet-name>
        <url-pattern>/Tse/UpdateCustomer</url-pattern>
        <url-pattern>/Tse/AddCustomers</url-pattern>
        <url-pattern>/Tse/GetCustomers</url-pattern>
        <url-pattern>/TseAdmin/GetCustomers</url-pattern>
        <url-pattern>/Tse/AllCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageDepartmentServlet</servlet-name>
        <url-pattern>/Tse/AddDepartments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MstEquipmentDAOServlet</servlet-name>
        <url-pattern>/GetEquipments</url-pattern>
        <url-pattern>/Tse/GetCustomerEquipment</url-pattern>
        <url-pattern>/TseAdmin/GetCustomerEquipment</url-pattern>
        <url-pattern>/AddEquipment</url-pattern>
        <url-pattern>/DeleteEquipment</url-pattern>
        <url-pattern>/AllEquipments</url-pattern>
        <url-pattern>/CustomerAllEquipments</url-pattern>
        <url-pattern>/UpdateEquipment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MstCustSampleDAOServlet</servlet-name>
        <url-pattern>/AddSample</url-pattern>
        <url-pattern>/UpdateSample</url-pattern>
        <url-pattern>/GetCustomerDept</url-pattern>
        <url-pattern>/GetSample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageProductServlet</servlet-name>
        <url-pattern>/TseAdmin/AllActiveProduct</url-pattern>
        <url-pattern>/TseAdmin/AddProduct</url-pattern>
        <url-pattern>/TseAdmin/RemoveProduct</url-pattern>
        <url-pattern>/TseAdmin/UpdateProduct</url-pattern>
        <url-pattern>/TseAdmin/ActivateProduct</url-pattern>
        <url-pattern>/TseAdmin/AllDeactiveProduct</url-pattern>
        <url-pattern>/TseAdmin/manageProduct</url-pattern>
        <url-pattern>/TseAdmin/getProduct</url-pattern>
        <url-pattern>/Tse/getProduct</url-pattern>
        <url-pattern>/Tse/getProductCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageEquipmentServlet</servlet-name>
        <url-pattern>/Tse/AddEquipments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageMakeServlet</servlet-name>
        <url-pattern>/TseAdmin/UpdateMake</url-pattern>
        <url-pattern>/TseAdmin/ActivateMake</url-pattern>
        <url-pattern>/TseAdmin/manageMake</url-pattern>
        <url-pattern>/TseAdmin/RemoveMake</url-pattern>
        <url-pattern>/TseAdmin/AllActiveMake</url-pattern>
        <url-pattern>/TseAdmin/AllDeactiveMake</url-pattern>
        <url-pattern>/TseAdmin/AddMake</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MstLabEquipmentServlet</servlet-name>
        <url-pattern>/Lab/UpdateLabEquipment</url-pattern>
        <url-pattern>/Lab/AllDeactiveLabEquipments</url-pattern>
        <url-pattern>/Lab/ActivateLabEquipment</url-pattern>
        <url-pattern>/Lab/RemoveLabEquipment</url-pattern>
        <url-pattern>/Lab/AddLabEquipment</url-pattern>
        <url-pattern>/Lab/AllActiveLabEquipments</url-pattern>
        <url-pattern>/Lab/AllActiveLabEquipmentsByEmpcode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageTestServlet</servlet-name>
        <url-pattern>/TseAdmin/UpdateTest</url-pattern>
        <url-pattern>/LabAdmin/UpdateTest</url-pattern>
        <url-pattern>/TseAdmin/ActivateTest</url-pattern>
        <url-pattern>/LabAdmin/ActivateTest</url-pattern>
        <url-pattern>/TseAdmin/AllDeactiveTest</url-pattern>
        <url-pattern>/LabAdmin/AllDeactiveTest</url-pattern>
        <url-pattern>/TseAdmin/AddTest</url-pattern>
        <url-pattern>/LabAdmin/AddTest</url-pattern>
        <url-pattern>/TseAdmin/RemoveTest</url-pattern>
        <url-pattern>/LabAdmin/RemoveTest</url-pattern>
        <url-pattern>/TseAdmin/manageTest</url-pattern>
        <url-pattern>/LabAdmin/manageTest</url-pattern>
        <url-pattern>/TseAdmin/AllActiveTest</url-pattern>
        <url-pattern>/LabAdmin/AllActiveTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageTankServlet</servlet-name>
        <url-pattern>/Tse/GetTank</url-pattern>
        <url-pattern>/TseAdmin/GetTank</url-pattern>
        <url-pattern>/Tse/AddNewTank</url-pattern>
        <url-pattern>/Tse/RemoveTank</url-pattern>
        <url-pattern>/Tse/ManageTank</url-pattern>
        <url-pattern>/TseAdmin/UpdateTank2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetIOMSampleSummaryServlet</servlet-name>
        <url-pattern>/Tse/GetSampleSummaryData</url-pattern>
        <url-pattern>/Tse/GetIOMWiseSummaryData</url-pattern>
        <url-pattern>/Lab/GetIOMWiseSummaryData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageIOMServlet</servlet-name>
        <url-pattern>/Tse/ManageIOM</url-pattern>
        <url-pattern>/Tse/GetIOMSummary</url-pattern>
        <url-pattern>/Tse/GetIOMSummaryDetails</url-pattern>
        <url-pattern>/Lab/GetIOMSummary</url-pattern>
        <url-pattern>/Lab/GetIOMSummaryDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestSequenceServlet</servlet-name>
        <url-pattern>/TseAdmin/TestSequence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TseAccessServlet</servlet-name>
        <url-pattern>/TseAdmin/TseAccess</url-pattern>
        <url-pattern>/TseAdmin/TseAccessSync</url-pattern>
        <url-pattern>/TseAdmin/TseLabAccess</url-pattern>
        <url-pattern>/TseAdmin/TseLabAccessExist</url-pattern>
        <url-pattern>/TseAdmin/TseLabAccessDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TseCustomerServlet</servlet-name>
        <url-pattern>/TseAdmin/TseCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LabTestSpecServlet</servlet-name>
        <url-pattern>/LabTestSpecServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageLabUserServlet</servlet-name>
        <url-pattern>/LabAdmin/ChangeRole</url-pattern>
        <url-pattern>/LabAdmin/AllActiveUser</url-pattern>
        <url-pattern>/LabAdmin/AllDeactiveUser</url-pattern>
        <url-pattern>/LabAdmin/AddUser</url-pattern>
        <url-pattern>/LabAdmin/ManageUser</url-pattern>
        <url-pattern>/LabAdmin/ActivateUser</url-pattern>
        <url-pattern>/LabAdmin/RemoveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageLabServlet</servlet-name>
        <url-pattern>/manageLab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tse1TestSpecServlet</servlet-name>
        <url-pattern>/Tse/TseTestSpecification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lab1TestSpecServlet</servlet-name>
        <url-pattern>/Lab/LabTestSpecification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestSpecServlet</servlet-name>
        <url-pattern>/TseAdmin/TestSpecification</url-pattern>
        <url-pattern>/TseAdmin/UpdateTestSpec</url-pattern>
        <url-pattern>/LabAdmin/TestSpecification</url-pattern>
        <url-pattern>/TseAdmin/AddTestSpec</url-pattern>
        <url-pattern>/LabAdmin/AddTestSpec</url-pattern>
        <url-pattern>/LabAdmin/UpdateTestSpec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LabAccessServlet</servlet-name>
        <url-pattern>/LabAdmin/UpdateLab</url-pattern>
        <url-pattern>/LabAdmin/LabAccess</url-pattern>
        <url-pattern>/LabAdmin/AddLab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTseReports</servlet-name>
        <url-pattern>/TseAdmin/TsePerformanceReport</url-pattern>
        <url-pattern>/TseAdmin/TseResponseTimeReport</url-pattern>
        <url-pattern>/TseAdmin/LabCSLEfficiencyReport</url-pattern>
        <url-pattern>/LabAdmin/LabCSLEfficiencyReport</url-pattern>
        <url-pattern>/TseAdmin/CustomerServicesReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getHighchartsData</servlet-name>
        <url-pattern>/getHighchartsData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProducts2</servlet-name>
        <url-pattern>/TseAdmin/addProducts2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MappingCustSAP</servlet-name>
        <url-pattern>/Tse/MappingCustSAP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEquipmentByLabServlet</servlet-name>
        <url-pattern>/TseAdmin/GetEquipmentByLabServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEquipmentByLabServlet2</servlet-name>
        <url-pattern>/LabAdmin/GetEquipmentByLabServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportLabEquipmentStatus</servlet-name>
        <url-pattern>/TseAdmin/reportLabEquipmentStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportLabEquipmentStatus2</servlet-name>
        <url-pattern>/LabAdmin/reportLabEquipmentStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtherValuesServletT</servlet-name>
        <url-pattern>/TseAdmin/OtherValuesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtherValuesServletL</servlet-name>
        <url-pattern>/LabAdmin/OtherValuesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newsServletLAB</servlet-name>
        <url-pattern>/LabAdmin/newsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newsServletTSE</servlet-name>
        <url-pattern>/TseAdmin/newsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSampleCreatedAjax</servlet-name>
        <url-pattern>/Tse/getSampleCreatedAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getReceivedSampleAjax</servlet-name>
        <url-pattern>/Lab/getReceivedSampleAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerSummary</servlet-name>
        <url-pattern>/Tse/CustomerSummary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileStorageServlet</servlet-name>
        <url-pattern>/Tse/FileStorageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>initailizeByAdmin</servlet-name>
        <url-pattern>/initailizeByAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTestResultsDetail</servlet-name>
        <url-pattern>/Tse/GetTestResultsDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTseReportsDetails</servlet-name>
        <url-pattern>/TseAdmin/GetTseReportsDetails</url-pattern>
        <url-pattern>/LabAdmin/GetTseReportsDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redirectController</servlet-name>
        <url-pattern>/Tse/redirectController</url-pattern>
        <url-pattern>/Lab/redirectController</url-pattern>
        <url-pattern>/TseAdmin/redirectController</url-pattern>
        <url-pattern>/LabAdmin/redirectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectSampleServlet</servlet-name>
        <url-pattern>/Lab/RejectSampleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LabTestStatusMasterServlet</servlet-name>
        <url-pattern>/Lab/LabTestStatusMaster</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productCategoryMapping</servlet-name>
        <url-pattern>/TseAdmin/productCategoryMapping</url-pattern>
        <url-pattern>/TseAdmin/getLabList</url-pattern>
        <url-pattern>/TseAdmin/getTestParams</url-pattern>
        <url-pattern>/TseAdmin/getCategory</url-pattern>
        <url-pattern>/TseAdmin/AddProductCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LabTestSpecsServlet</servlet-name>
        <url-pattern>/Tse/LabTestSpecsServlet</url-pattern>
        <url-pattern>/Tse/LabTestSpecsServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageEquipment</servlet-name>
        <url-pattern>/TseAdmin/AllActiveEquipment</url-pattern>
        <url-pattern>/TseAdmin/AddEquipment</url-pattern>
        <url-pattern>/TseAdmin/DeleteEquipment</url-pattern>
        <url-pattern>/TseAdmin/UpdateEquipment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TseLabMappingServlet</servlet-name>
        <url-pattern>/TseAdmin/TseLabMappingServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>500</error-code>
        <location>/errorPages/error-500.jsp</location>
    </error-page>
    <error-page>
        <!-- Missing login -->
        <error-code>401</error-code>
        <location>/errorPages/error-401.jsp</location>
    </error-page>
    <error-page>
        <!-- Page not Found -->
        <error-code>404</error-code>
        <location>/errorPages/error-404.jsp</location>
    </error-page>
    <error-page>
        <!-- Forbidden directory listing -->
        <error-code>403</error-code>
        <location>/errorPages/error-403.jsp</location>
    </error-page>
    <error-page>
        <!-- Uncaught exception -->
        <error-code>500</error-code>
        <location>/errorPages/error-500.jsp</location>
    </error-page>
    <error-page>
        <!-- Unsupported servlet method -->
        <error-code>503</error-code>
        <location>/errorPages/error-503.jsp</location>
    </error-page>
    <error-page>
        <!-- Unsupported servlet method -->
        <error-code>408</error-code>
        <location>/errorPages/error.jsp</location>
    </error-page>
</web-app>
